
<div style="background-color: black;float: left;">

    <a href="./html/index.html" target="blank"> <img src="./assets/ace.png" width ="180px" height ="125 px"></a>
   
  </div>
  
  <div class="log"> <a href="index.html" class="logo">ACE <span class="lite">Manga</span></a>
</div>
<div class="main">
  <div class="navbar">
    <a routerLink="/body" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home</a>  
    <a routerLink="/view" routerLinkActive="active"><i class="fa fa-fw fa-user"></i> view</a>
    <a routerLink="/detail" routerLinkActive="active"><i class="fa fa-fw fa-search"></i> Details</a>
    <a routerLink="/logout" routerLinkActive="active"><i class="fa fa-fw fa-search"></i> LOGOUT</a>
  </div>
</div>