<app-header></app-header>

<div class="container">
        <div style="text-align:left; color: darkgoldenrod;background-color: black">
                <h1>Summary</h1>
            </div>
            <div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="box">
            <div class="imgBx">
                 <img src="../../assets/dbz.jpg">
            </div>
            <div class="content">
                <h3>DragonBall Z</h3>
                <p>Dragon Ball Z continues the adventures of Goku, who, along with his companions, defend the Earth against villains ranging from aliens (Frieza), androids (Cell) and other creatures (Majin Buu). While the original Dragon Ball anime followed Goku from childhood to early adulthood, Dragon Ball Z is a continuation of his adult life, but at the same time parallels the life of his son, Gohan, as well as the development of his rival Vegeta.
                </p>
            </div>
        </div> 
    </div>
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="box">
            <div class="imgBx">
                <img src="../../assets/deathnote.jpg">
            </div>
            <div class="content">
                <h3>Death Note</h3>
                <p>The story follows Light Yagami, a teen genius who stumbles across a mysterious otherworldly notebook: the "Death Note", which belonged to the Shinigami Ryuk, and grants the user the supernatural ability to kill anyone whose name is written in its pages. The series centers around Light's subsequent attempts to use the Death Note to carry out a world-wide massacre of those whom he deems morally unworthy of life to change the world into a utopian society without crime using the alias of a god-like vigilante named "Kira" ("キラ", the Japanese transliteration of the English word: killer) and the subsequent efforts of an elite task-force of law enforcement officers, consisting of members of the Japanese police force led by L, an enigmatic international detective whose past is shrouded in mystery, to apprehend him and end his reign of terror.
                </p>
            </div>
        </div>
    </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="box">
                <div class="imgBx">
                    <img src="../../assets/Fairy tail.jpg">
                </div>
                <div class="content">
                    <h3>Fairy Tail</h3>
                    <p>Fairy Tail is a Japanese manga series written and illustrated by Hiro Mashima. It was serialized in Kodansha's Weekly Shōnen Magazine from August 2, 2006 to July 26, 2017, with the individual chapters collected and published into 63 tankōbon volumes. The story follows the adventures of Natsu Dragneel, a member of the popular wizard guild Fairy Tail, as he searches the fictional world of Earth-land for the dragon Igneel.</p>
                </div>
            </div>
        </div>
        
            <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="box">
                    <div class="imgBx">
                        <img src="../../assets/blackclover.png">
                    </div>
                    <div class="content">
                        <h3>Black Clover</h3>
                        <p>Black Clover is a Japanese manga series written and illustrated by Yūki Tabata. It has been serialized in Shueisha's Weekly Shōnen Jump magazine since February 16, 2015, and has been collected into 21 tankōbon volumes. The story centers around Asta, a young boy seemingly born without any magic power, something that is unknown in the world he lives in. With his fellow mages from the Black Bulls, Asta plans to become the next Wizard King.

                            The manga has been adapted into an original video animation produced by Xebec, which was released in 2017, as well an anime television series produced by Pierrot, which also premiered in Japan in 2017.</p>
                    </div>
            </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                        <div class="imgBx">
                            <img src="../../assets/bleach.jpg">
                        </div>
                        <div class="content">
                            <h3>Bleach </h3>
                            <p>Bleach  is a Japanese shōnen manga series written and illustrated by Tite Kubo that started an entire franchise, including an anime series. Bleach follows the adventures of the hotheaded teenager Ichigo Kurosaki, who inherits his parents' destiny after he obtains the powers of a Soul Reaper (literally 'Death God')—a death personification similar to the Grim Reaper—from another Soul Reaper, Rukia Kuchiki. His new-found powers force him to take on the duties of defending humans from evil spirits and guiding departed souls to the afterlife, and set him on journeys to various ghostly realms of existence.</p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="box">
                            <div class="imgBx">
                                <img src="../../assets/onepiece.jpg">
                            </div>
                            <div class="content">
                                <h3>One Piece</h3>
                                <p>One Piece is a Japanese manga series written and illustrated by Eiichiro Oda. It has been serialized in Shueisha's Weekly Shōnen Jump magazine since July 22, 1997, and has been collected into 93 tankōbon volumes. The story follows the adventures of Monkey D. Luffy, a boy whose body gained the properties of rubber after unintentionally eating a Devil Fruit. With his crew of pirates, named the Straw Hat Pirates, Luffy explores the Grand Line in search of the world's ultimate treasure known as "One Piece" in order to become the next Pirate King.</p>
                            </div>
                    </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" style="align-content: center">
                <div class="box"  >
                        <div class="imgBx">
                            <img src="../../assets/naruto.jpg">
                        </div>
                        <div class="content">
                            <h3>Naruto</h3>
                            <p>Naruto is a Japanese manga series written and illustrated by Masashi Kishimoto. It tells the story of Naruto Uzumaki, a young ninja who searches for recognition from his peers and also dreams of becoming the Hokage, the leader of his village. The story is in two parts, the first set in Naruto's pre-teen years, and the second in his teens. The series is based on two one-shot manga by Kishimoto: Karakuri (1995), which earned Kishimoto an honorable mention in Shueisha's monthly Hop Step Award the following year, and Naruto (1997).</p>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="box">
                            <div class="imgBx">
                                <img src="../../assets/tokyoghoul.png">
                            </div>
                            <div class="content">
                                <h3>Tokyo Ghoul</h3>
                                <p>Tokyo Ghoul is a Japanese dark fantasy manga series written and illustrated by Sui Ishida. It was serialized in Shueisha's seinen manga magazine Weekly Young Jump between September 2011 and September 2014, and it has been collected in fourteen tankōbon volumes as of August 2014. A sequel titled Tokyo Ghoul:re was serialized in the same magazine between October 2014 and July 2018, and was later collected into sixteen tankōbon volumes.</p>
                            </div>
                    </div>

            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box">
                        <div class="imgBx">
                            <img src="../../assets/inazuma.jpg">
                        </div>
                        <div class="content">
                            <h3>Inazuma Eleven</h3>
                            <p>
                                Endou Mamoru is a cheerful goalkeeper in Raimon Jr High, with six other players in the team. But there was a day when the team was almost lead to disbandment by Natsumi unless they are to win the match against the Teikoku Gakuen, currently the best team of Japan. He tried to save the club by gathering four more players to the team. In the second series, Endou and Raimon had to gather players from all over Japan to defeat the new enemies, Aliea Gakuen. In the third series, the Football Frontier International was announced, and Inazuma Japan was assembled, the coach being Kudou Michiya.
                            </div>
                </div>

        </div>
    
</div>
</div>
<app-footer></app-footer>